torch
transformers
scikit-learn
numpy
requests
tqdm
torch-geometric
scipy
flask
accelerate
adversarial-robustness-toolbox
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anthropic
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
datasets
debugpy
decorator
defusedxml
dill
distro
docstring_parser
executing
fastjsonschema
filelock
Flask
fonttools
fqdn
frozenlist
fsspec
h11
httpcore
httpx
huggingface_hub
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jupytext
kaggle
kiwisolver
langchain
langchain-core
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lark
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mistune
mpmath
multidict
multiprocess
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
openai
orjson
overrides
packaging
pandas
pandocfilters
parso
peft
pexpect
pillow
platformdirs
plotly
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pycparser
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
python-json-logger
python-slugify
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
Send2Trash
six
sniffio
soupsieve
stack-data
sympy
tenacity
terminado
text-unidecode
threadpoolctl
tinycss2
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
triton
typer
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
xxhash
yarl
zstandard
